<!DOCTYPE html>
{% extends "base.html" %}

<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<div>
<body>
{% block content %}
<h1 class ="one"><center>Ghosts and Greys</center></h1>
<p class= "one"> If this is your first visit please check out our <a href="{% url 'pages:intro' %}" class="baselinks">Introduction</a> for information on this site and contact details!</p>
<p class = "one">The following articles are written and submitted by me. 
<h3 class = "one">For articles submitted by users and to submit your own ideas, post, work etc, please click <a href="{% url 'blog:index' %}">Here</a>.</h3><br>
<p class ="one">Finally, please be aware that this site is in it's early stages and whilst its main purpose revolves around archiving and collecting data I do plan on making it generally look better. The priority was getting the back-end up and running and functional so that it serves its purpose data collection wise. Please bare with me as I handle both the back end and the front end of the site. I appreciate your patience. Additionally, signup as of right now has no purpose, i've just left the links on for esae of use later, addtionally sign-up isn't required as of now, everything on the site can be interacted with anonymously and name/email fields are always optional, again the plan there is a forum and some other little features.	</p>
<p class ="one">

<h2 class="one">Latest articles:</h2><br>
{% for post in posts %}
<a href="{{post.get_absolute_url }}">
{{post.title}}&nbsp;:&nbsp;</a> {{post.body|truncatewords:10}} Posted by {{post.username}} on {{post.added}}. <br>
{% endfor %}
</p>
{% endblock content %}
</body>
</div>
</html>
