
.bannerfill {
	height: 100%;
	width: 100%;
	border: #0277bd solid red;
	background-color: #0277bd;
}

div.one{
		color: #000000;
	font-family:  Century Goth#f9f9f9ic;
}
h1.one{
	color: #000000;
	border-color: #fb5a00;
	font-family: Trebuchet MS;}

h2.one{
	color: #000000;
	border-color: #fb5a00;
	font-family: Trebuchet MS;}

h3.one{
	color: #000000;
	border-color: #fb5a00;
	font-family: Trebuchet MS;}

.ros{
  border: 5px dotted black;
  border-radius: 10%;
}
.baselinks{
	font-family: Century Gothic;
	display: inline;
	color: #000000;
	list-style-type: none;
	margin: 0;
	text-decoration: none;
	padding: 0;}
ul{
	color: #000000;
	font-family:  Open Sans;
}

ol{
	color: #000000;
	font-family:  Open Sans;
}

p.one{
	color: #000000;
	font-family: Trebuchet MS;
}

tr{
		color: #000000;
	font-family:  Century Gothic;
}
td{
	color: #000000;
	font-family:  Century Gothic;
}

form.one{
	color: #000000;
	font-family:  Century Gothic;
}

/* Navbar ntainer */
.navbar {
	margin-top: 0px;
  overflow: hidden;
  background-color: #0277bd;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}